.row {
    margin-top: 20px;
}

@font-face {
    font-family: AmaticSC-Regular;
    src: url(../fonts/amatic/AmaticSC-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: AvenirNextLTPro;
    src: url(../fonts/avenir-next-lt-pro/AvenirNextLTPro-Cn.otf);
    font-weight: 400;
}

.header-font {
    font-family: AmaticSC-Regular, serif;
    font-size: 40px;
}

.header-font-color {
    color: #d04f80;
}

.tekstfont {
    font-family: AvenirNextLTPro, serif;
    font-size: 20px;
}

.bottom-heart {
    height: 150px;
}

.borderclass {
    border: solid;
}

.heart-row {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-device-width: 500px) {
    .navbar-brand,
    .navbar-nav li a {
        line-height: 73px;
        height: 73px;
        padding-top: 0;
    }
    
    .img-medium {
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}